Telegram_agent_1.json
{
  "name": "Telegram_agent_1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        216
      ],
      "id": "0a1afd3a-d314-4ea1-9df6-f990f43411ec",
      "name": "Telegram Trigger",
      "webhookId": "1547334e-2d32-445e-905d-516895b40f04",
      "credentials": {
        "telegramApi": {
          "id": "98yiJv3eXbRlJoj1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a Event creator and email sending agent.\n\nTools:\ncalender: use this to create an event.\nGoogle sheet: use this to get the contacts information.\n\nToday's date ia {{ $now }}\n\nUse this email signature:\ncheers,\nDhivs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        24,
        216
      ],
      "id": "d4b24db7-e2c0-4d3e-929b-7129f9cd2f94",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        440
      ],
      "id": "95bf3b86-0fd0-4dbb-81f7-56462172521c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        440
      ],
      "id": "409ea858-afe6-4388-9754-4bc1f246098d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Z1aGllIWuI50LWbD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -384,
        544
      ],
      "id": "c6b12cf1-3860-47c6-a087-74701118a5aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e4ojqFd9FvjhGatM",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dhikrish42@gmail.com",
          "mode": "list",
          "cachedResultName": "dhikrish42@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        96,
        440
      ],
      "id": "01edcdd6-af08-4282-aa83-cd57ec6abbc7",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uncox1ugt9pMFpwt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nJhQxiyac6RhdfII1_Qort3qyjUPvO117L6_04dKgEg",
          "mode": "list",
          "cachedResultName": "Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nJhQxiyac6RhdfII1_Qort3qyjUPvO117L6_04dKgEg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nJhQxiyac6RhdfII1_Qort3qyjUPvO117L6_04dKgEg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        224,
        440
      ],
      "id": "35ab8268-0b69-4756-835f-f0dd9c206eb3",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z6zrm1fhPbTcGd12",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        216
      ],
      "id": "6c73d739-5063-402f-b9d0-77e11df046b8",
      "name": "Send a text message",
      "webhookId": "6d8ce1df-94de-4f8b-9203-b11b72bd8489",
      "credentials": {
        "telegramApi": {
          "id": "98yiJv3eXbRlJoj1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XqCjnocQPBIozSa8",
          "mode": "list",
          "cachedResultUrl": "/workflow/XqCjnocQPBIozSa8",
          "cachedResultName": "Telegram_agent_2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "emailaddress": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailaddress', ``, 'string') }}",
            "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subject', ``, 'string') }}",
            "emailbody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailbody', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "emailaddress",
              "displayName": "emailaddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "emailbody",
              "displayName": "emailbody",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        440
      ],
      "id": "122ca0c7-fc60-4907-a0a9-315e329bbac4",
      "name": "Call 'Telegram_agent_2'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Telegram_agent_2'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20e06ffd-1ed3-4158-b758-7b0219e202f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e23de2e4d6a091f9baefcbdf87c6858ff12b67c6facb4375e421500fa33dfec3"
  },
  "id": "sgoTNCLokyNeikdN",
  "tags": []
}